<h1><%=  @detail.name %></h1>
<hr>
<% if @detail.comments.any? %>
<h3>Here are the comments for this detail:</h3>
<ul>
  <% @detail.comments.each do |comment| %>
  <br><li><b>User Review: </b><i><%= comment.critique %></i></li>
  <li><b>User Rating: </b><i><%= comment.rating %> Stars</i></li>
    <% end %>

  </ul>
  <% else %>
  <p> There are no comments yet!</p>
  <% end %>


<br>
<%= link_to "Add a Review", new_detail_comment_path(@detail) %>
<hr>
<p><%= link_to "Return to Artists", post_path(@post) %><p>
